@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Employee</h1>
<div asp-validation-summary="All"></div>
<form asp-action="Edit" asp-controller="Employee" method="post">
    <partial name="PartialViews/_CreateEditView" model="Model" />
    <div>
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-light">BackToList</a>

    </div>
</form>
@section ValidationScriptsSection
 {
    <partial name="_ValidationScriptsPartial" />
}
