@model Department
@{
    ViewData["Title"] = "Create";

}

<h1>Create New Department</h1>
<br/>
<form asp-action="Create" asp-controller="Department" method="post">
    <div>
        <label class="col-form-label" asp-for="Code"></label>
        <input class="form-control" asp-for="Code"/>
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div>

        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label class="col-form-label" asp-for="CreatedOn"></label>
        <input class="form-control" asp-for="CreatedOn" />
    </div>
    <div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
        <a asp-action="Index" class="btn btn-light">BackToList</a>

    </div>
</form>
@section ValidationScriptsSection
 {
    <partial name="_ValidationScriptsPartial" />
}
