@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want To Delete @Model.Name Department </h1>
<div asp-validation-summary="All"></div>
<form asp-action="Delete">
   
    <div>
        <label class="col-form-label" asp-for="Code"></label>
        <input readonly class="form-control" asp-for="Code" />

    </div>
    <div>

        <label class="col-form-label" asp-for="Name"></label>
        <input readonly class="form-control" asp-for="Name" />

    </div>
    <div>
        <label class="col-form-label" asp-for="CreatedOn"></label>
        <input readonly class="form-control" asp-for="CreatedOn" />
    </div>

    <div>
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
