 @model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want To Delete @Model.Name Employee?</h1>
<div asp-validation-summary="All"></div>
<form asp-action="Delete">


    @* <!-- تأكد من وجود الملف _DeleteDetailsView.cshtml في المسار الصحيح --> *@
    @* <partial name="Views/Employee/PartialViews/_DeleteDetailsView" model="@Model" /> *@
    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input readonly class="form-control" asp-for="Name" />

    </div>
    <div>

        <label class="col-form-label" asp-for="Age"></label>
        <input readonly class="form-control" asp-for="Age" />

    </div>
    <div>

        <label class="col-form-label" asp-for="Address"></label>
        <input readonly class="form-control" asp-for="Address" />

    </div>
    <div>

        <label class="col-form-label" asp-for="Email"></label>
        <input readonly class="form-control" asp-for="Email" />

    </div>
    <div>

        <label class="col-form-label" asp-for="Salary"></label>
        <input readonly class="form-control" asp-for="Salary" />

    </div>
    <div>

        <label class="col-form-label" asp-for="IsActive"></label>
        <input readonly class="form-control" asp-for="IsActive" />

    </div>
    <div>
        <label class="col-form-label" asp-for="HireDate"></label>
        <input readonly class="form-control" asp-for="HireDate" />
    </div>
    <div>
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input readonly class="form-control" asp-for="DateOfCreation" />
    </div>
    <div>

        <label class="col-form-label" asp-for="Phone"></label>
        <input readonly class="form-control" asp-for="Phone" />

    </div>
    <div class="mt-3">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
 



